	USE [BT1_TKCSDL]
	GO
	/****** Object:  Table [dbo].[DIEM]    Script Date: 27/04/2021 3:22:41 CH ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[DIEM](
		[MAHS] [nvarchar](5) NOT NULL,
		[TOAN] [float] NULL,
		[LY] [float] NULL,
		[HOA] [float] NULL,
		[VAN] [float] NULL,
		[DTB] [float] NULL,
		[XEPLOAI] [nchar](10) NULL,
	 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
	(
		[MAHS] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[DSHS]    Script Date: 27/04/2021 3:22:41 CH ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[DSHS](
		[MAHS] [nvarchar](5) NOT NULL,
		[HO] [nvarchar](15) NULL,
		[TEN] [nvarchar](7) NULL,
		[NU] [bit] NOT NULL,
		[NGAYSINH] [datetime] NULL,
		[MALOP] [nvarchar](4) NULL,
		[GHICHU] [nvarchar](50) NULL,
		[XEPLOAI] [nvarchar](50) NULL,
	 CONSTRAINT [PK_DSHS] PRIMARY KEY CLUSTERED 
	(
		[MAHS] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[LOP]    Script Date: 27/04/2021 3:22:41 CH ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[LOP](
		[MALOP] [nvarchar](4) NOT NULL,
		[GVCN] [nvarchar](25) NULL,
	 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
	(
		[MALOP] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00001', 3, 5, 1, 5, 3.67, N'DUP       ')
	INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00008', 10, 10, 5, 7, 8.17, NULL)
	INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN], [DTB], [XEPLOAI]) VALUES (N'00013', 7, 8, 5, 5.5, 6.33, NULL)
	GO
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00001', N'Nguyen Van', N'Nam', 0, CAST(N'1974-04-06T00:00:00.000' AS DateTime), N'10A2', N'Chuy?n tru?ng t? ngàyNov  6 202', N'luu ban')
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00008', N'Tran Thanh', N'Phong', 0, CAST(N'1974-03-23T00:00:00.000' AS DateTime), N'10A1', NULL, NULL)
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [MALOP], [GHICHU], [XEPLOAI]) VALUES (N'00013', N'Nguyen Minh', N'Quang', 0, CAST(N'1975-07-12T00:00:00.000' AS DateTime), N'10A2', N'chuyển trường từ ngày Oct 26 202', NULL)
GO
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A1', N'Nguyễn Thanh Nhàn')
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A2', N'Lê Văn Hiển')
INSERT [dbo].[LOP] ([MALOP], [GVCN]) VALUES (N'10A3', N'Nguyễn Thị Bé')
GO
